* {
  font-family: Arial;
}

a {
  color: #5555CC
}

div  {
  padding: 0px;
  margin: 0px;
}

body {
  background: #111;
  color: white;
}

#waiting {
  float: left;
  width: 600px;
  height: 600px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #EEE;
}

#side_area {
  height: 580px;
  background: #EEE;
  padding: 5px;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: none;
}

#actions {
  float: right
}

.chat {
  color: black;
}
#chatlog {
  height: 580px;
  background: #EEE;
  padding: 5px;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: none;
}

#army_selector {
  display: none;
  background: #555;
  border-style: groove;
  position: absolute;
  height: 580px;
  padding: 5px;
}

#pawn_upgrade_dialog {
  visibility: hidden;
  background: #555;
  border-style: groove;
  position: absolute;
  height: 580px;
  padding: 5px;
}

img.piece {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
li.chosen {
  background-color: #000;
}

#points_remaining {
  background-color: #500;
}

#finish_army {
  background-color: #050;
}

#opponent_status {
  background-color: #005;
}

ul#pieces_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul#pieces_list > li {
  margin-bottom: 5px;
  /*
   * required by IE9 for unbulleted lists
   */
  list-style-type: none;
}

#settings_overlay {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 27px;
  border: 2px solid #333333;
	background-color: rgb(51, 51, 51);
	background-color: rgba(151, 151, 151, 0.5);
  border-radius: 10px;
}

.setting_button {
  padding: 1px;
  position: relative;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  z-index: 10000;
}

.setting_button:hover {
  padding: 0px;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.volume_control_on {
  background: center center no-repeat url('../images/sound_on.svg');
  background-size: 25px 25px;
}
.volume_control_off {
  background: center center no-repeat url('../images/sound_off.svg');
  background-size: 25px 25px;
}

#settings {
  background: center center no-repeat url('../images/settings.gif');
  background-size: 25px 25px;
}

.settings_dialog {
  z-index: 20000 !important;
}
.settings_dialog:focus {
  outline: none;
}
.settings_dialog *:focus {
  outline: none;
}

.settings_dialog ul {
  list-style-type: none;
}
.settings_dialog li {
  cursor: hand;
  cursor: pointer;
}
.settings_dialog .disabled {
  cursor: auto !important;
  color: #777777;
}
.settings_dialog a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 4px 0px;
  z-index: 10000;

  -webkit-box-shadow: 2px 2px 2px #222;
     -mox-box-shadow: 2px 2px 2px #222;
          box-shadow: 2px 2px 2px #222;
  border-radius: 5px;
  -moz-border-radius: 5px;

  color: #DDD;
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333, endColorstr=#DD333333);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333, endColorstr=#DD333333)";
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #turn_overlay { top: 2px !important; }
  #bottom_overlay { top: 588px !important; }
}

#turn_overlay {
  width: 220px;
  left: 52px;
}

#message {
  width: 200px;
  left: 290px;
  padding: 4px 6px;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

#bottom_overlay {
  position: absolute;
  top: 590px;
  left: 0px;
}

.flickering_board {
  background: top left no-repeat url('../images/board_base.png');
}

.board {
  width: 560px;
  height: 560px;
  padding: 40px;
  position: relative;
  margin-right: 10px;
  background-size: 640px 640px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
  z-index: 100;
}

.soldier {
  position: absolute;
  left: 0px;
  top: 0px;
}

.selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
  0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
  0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
  0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
  0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

#soldier_moves div, #guerrilla_moves div {
  z-index: 300;
}

#moves, #white_moves div, #black_moves div {
  z-index: 300;
}

#moves, #pieces {
  width: 100%;
  height: 100%;
}

#moves, #soldier_moves, #guerrilla_moves, #white_moves, #black_moves {
  opacity: 0.4;
}

.shadow_piece, .soldier_piece, .temp_piece, .normal_piece {
  position: absolute;
  width: 68px;
  height: 68px;
  margin: 2px;
}

.castling_shadow_piece {
  border: 5px solid red;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.pawn_capture_source {
  border: 5px solid blue;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.pawn_capture_target {
  border: 5px solid green;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.invisible {
  opacity: 0.6;
}
.coin_theme_soldier {
  background: top left no-repeat url('../images/soldier/soldier_piece.png');
}
.guerrilla_theme_soldier {
  background: top left no-repeat url('../images/guerrilla/soldier_piece.png');
}

.removal_marker {
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 56px;
  overflow: visible;
  position: relative;
  float: left;
  background: white;
}

.king_white {
  background: top left no-repeat url('../images/king_white.68x68.png');
}
.queen_white {
  background: top left no-repeat url('../images/queen_white.68x68.png');
}
.rook_white {
  background: top left no-repeat url('../images/rook_white.68x68.png');
}
.knight_white {
  background: top left no-repeat url('../images/knight_white.68x68.png');
}
.bishop_white {
  background: top left no-repeat url('../images/bishop_white.68x68.png');
}
.pawn_white {
  background: top left no-repeat url('../images/pawn_white.68x68.png');
}
.king_black {
  background: top left no-repeat url('../images/king_black.68x68.png');
}
.queen_black {
  background: top left no-repeat url('../images/queen_black.68x68.png');
}
.rook_black {
  background: top left no-repeat url('../images/rook_black.68x68.png');
}
.knight_black {
  background: top left no-repeat url('../images/knight_black.68x68.png');
}
.bishop_black {
  background: top left no-repeat url('../images/bishop_black.68x68.png');
}
.pawn_black {
  background: top left no-repeat url('../images/pawn_black.68x68.png');
}




.guerrilla_piece {
  position: absolute;
  width: 39px;
  height: 40px;
  margin: 1px 1px 1px 3px;
}
.coin_theme_guerrilla {
  background: top left no-repeat url('../images/soldier/guerrilla_piece.png');
}

.guerrilla_theme_guerrilla {
  background: top left no-repeat url('../images/guerrilla/guerrilla_piece.png');
}

.intersection {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: 38px;
  overflow: visible;
  position: relative;
  float: left;
  color: white;
}


.square_hover {
  background-color: rgb(255, 255, 0) !important;
  background-color: rgba(255, 255, 0, 0.4) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00)" !important;
}

.square_black {
  background: none;
}

.square_white {
  background: none;
}

.square_highlighted {
  border: 1px solid #0FF;
}

