.selectable {
  cursor: hand;
  cursor: pointer;
  -webkit-animation:selectable 1700ms ease-in-out infinite;
     -moz-animation:selectable 1700ms ease-in-out infinite;
      -ms-animation:selectable 1700ms ease-in-out infinite;
       -o-animation:selectable 1700ms ease-in-out infinite;
          animation:selectable 1700ms ease-in-out infinite;
}
.selectable:hover {
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
@keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}
@-o-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}
@-ms-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}
@-moz-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}
@-webkit-keyframes selectable {
  0%, 100% {
    box-shadow: 0px 0px 12px 4px rgb(0, 225, 225);
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgb(0, 100, 100);
  }
}

* {
  font-family: Arial;
}

a {
  color: #5555CC
}

div  {
  padding: 0px;
  margin: 0px;
}

body {
  background: #111;
  color: white;
}

#waiting {
  float: left;
  width: 600px;
  height: 600px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #EEE;
}

#table_area {
  position: relative;
  min-width: 1280px;
  width: 1280px;
  min-height: 800px;
  height: 800px;
}
.building_area {
  background: top left no-repeat url("../images/background_building.jpg");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.playing_area {
  background: top left no-repeat url("../images/background_playing.jpg");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

#notification {
  position: absolute;
  top: 42px;
  left: 26px;
  width: 681px;
  font-size: 28px;
  text-align: center;
  color: #00FF00;
  opacity: 0.8;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 2em gray, 0 0 0.4em gray;
  z-index: 500;
}

#dashboard {
  position: absolute;
  z-index: 10002px;
  left: 210px;
  top: 736px;
  width: 316px;
  height: 44px;
  -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;
}
.dashboard_section {
  width: 315px;
  height: 44px;
  color: rgb(26, 47, 36);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
img.vertical-aligner {
  vertical-align: middle;
  height: 100%;
  width: 1px;
}

#side_area {
  position: relative;
  left: 695px;
  top: 0px;
  height: 800px;
  width: 585px;
}

.side_selector {
  display: none;
  position: relative;
  height: 545px;
  top: 40px;
}

#army_selector {
  left: 110px;
  width: 430px;
}

#army_selector #points_indicator {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 400px;
  height: 35px;
}

#army_selector #iw_selector {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 400px;
  height: 35px;
}
#iw_selector #psyop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 72px;
}
#iw_selector #ew_points_slider {
  position: absolute;
  top: 0px;
  left: 86px;
  width: 225px;
}
#iw_selector #ew {
  position: absolute;
  top: 0px;
  left: 330px;
  width: 55px;
}

#piece_selectors {
  position: absolute;
  top: 84px;
  left: 99px;
  width: 256px;
  height: 377px;
}
.piece_selector {
  float: left;
  width: 108px;
  height: 119px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.cost_indicator {
  height: 18px;
  width: 28px;
  text-align: center;
  color: rgb(26, 47, 36);
}
.piece_selector img.piece {
  height: 90px;
  width: 90px;
  padding: 2px 9px 9px 9px;
}
#army_selector #ready {
  left: 233px;
}
#army_selector #ready #indicator {
  position: absolute;
  left: 10px;
  top: 1px;
  width: 17px;
  height: 17px;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
#army_selector #ready.ready #indicator {
  background: top left no-repeat url('../images/checkmark.svg');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
  background-color: #00FF00;
  opacity: 0.5;
}
#army_selector #ready.unready #indicator {
  background: top left no-repeat url('../images/x.svg');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
  background-color: #FF3311;
  opacity: 0.8;
}
#army_selector #reset {
  left: 90px;
}
#army_selector .button {
  position: absolute;
  top: 477px;
  width: 108px;
  height: 19px;
  border: 2px solid rgb(177, 243, 202);
  -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;
  text-align: center;
  color: rgb(26, 47, 36);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

#action_selector {
  left: 93px;
  width: 446px;
}

#action_selector #ew_points_indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 400px;
  height: 40px;
}
#action_selector #psyop_points_indicator {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 400px;
  height: 40px;
}
.points_indicator * {
  position: relative;
  top: 7px;
  float: left;
  color: rgb(154, 255, 206);
}
.points_indicator span {
  text-align: center;
}
.points_indicator span.title {
  width: 118px;
}
.point_block {
  border: 1px solid rgb(208, 255, 176);
  height: 17px;
  width: 10px;
  position: relative;
  margin-right: 10px;
}
.point_block.full {
  background: rgb(208, 255, 176);
}
.point_block.empty {
}

#ew_actions {
  top: 54px;
}
#psyop_actions {
  top: 216px;
}
.actions_container {
  position: absolute;
  width: 367px;
  height: 160px;
  left: 38px;
}

#ew_main {
  background: top left no-repeat url("../images/ew_actions_enabled.png");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
#ew_main.disabled {
  background: top left no-repeat url("../images/ew_actions_disabled.png");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
#psyop_main {
  background: top left no-repeat url("../images/psyop_actions_enabled.png");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
#psyop_main.disabled {
  background: top left no-repeat url("../images/psyop_actions_disabled.png");
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.iw_main {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 113px;
  height: 146px;
}

.strength {
  cursor: hand;
  cursor: pointer;
  position: absolute;
  text-align: right;
  height: 21px;
  left: 122px;
  color: rgb(154, 255, 206);
}
.strength.disabled {
  cursor: auto !important;
}
.strength.disabled span {
  color: rgb(89, 118, 99);
}
.strength.first {
  width: 195px;
  top: 47px;
  background: top left no-repeat url('../images/iw_normal_enabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.strength.first.disabled {
  background: top left no-repeat url('../images/iw_normal_disabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.strength.second {
  width: 207px;
  top: 76px;
  background: top left no-repeat url('../images/iw_reinforced_enabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.strength.second.disabled {
  background: top left no-repeat url('../images/iw_reinforced_disabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.strength.third {
  width: 221px;
  top: 106px;
  background: top left no-repeat url('../images/iw_feint_enabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.strength.third.disabled {
  background: top left no-repeat url('../images/iw_feint_disabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

#end_turn {
  cursor: hand;
  cursor: pointer;
  position: absolute;
  -webkit-border-radius:30px;
     -moz-border-radius:30px;
          border-radius:30px;
  width: 236px;
  height: 72px;
  top: 377px;
  left: 106px;
  background: top left no-repeat url('../images/end_turn_enabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
#end_turn.disabled {
  cursor: auto !important;
  background: top left no-repeat url('../images/end_turn_disabled.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

#last_turn_report {
  position: absolute;
  top: 454px;
  left: 7px;
  width: 428px;
  height: 53px;
  border: 3px solid rgb(178, 244, 203);
  padding: 2px;
}

#text_panels {
  position: absolute;
  top: 556px;
  left: 62px;
  width: 508px;
  height: 208px;
  background: top left no-repeat url('../images/tab_chat.png');
}

#text_panels .selected {
  color: cyan;
  cursor: auto !important;
}

#text_panels .deselected {
  cursor: hand;
  cursor: pointer;
}

#text_panels > .content {
  position: absolute;
  top: 33px;
  left: 8px;
  width: 495px;
  height: 167px;
}

#chat_selector {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 108px;
  height: 30px;
}

#chat_message_indicator {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10px;
  height: 10px;
  font-size: 22px;
  display: none;
  color: red;
}

#notes_selector {
  position: absolute;
  top: 3px;
  left: 111px;
  width: 106px;
  height: 30px;
}

#log_selector {
  position: absolute;
  top: 3px;
  left: 217px;
  width: 105px;
  height: 30px;
}

#notes {
  display: none;
}

#notes textarea {
  position: absolute;
  top: 2px;
  left: 2px;
  background: rgba(0,0,0,0);
  font-size: 15px;
  color: white;
}

#log {
  display: none;
}
#log_messages {
  position: absolute;
  font-size: 15px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px 2px;
  height: 161px;
  width: 100%;
}

#chat {
}
#chat_messages {
  height: 137px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3px 2px;
  border-bottom: 1px solid white;
  font-size: 14px;
  font-weight: initial;
  color: white;
}
#chat_input {
  color: white;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  width: 100%;
  border-style: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}
.chat_message span {
  padding-right: 15px;
  color: red;
}
.chat_message.white span {
  color: white;
}
.chat_message.black span {
  color: grey;
}

img.piece {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
li.chosen {
  background-color: #000;
}

#points_remaining {
  background-color: #500;
}

#finish_army {
  background-color: #050;
}

#opponent_status {
  position: absolute;
  left: 0px;
  top: 643px;
  width: 100%;
  height: 19px;
  text-align: center;
  color: #DDDDDD;
  border: 2px solid #DD0000;
  -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;
}

ul#pieces_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul#pieces_list > li {
  margin-bottom: 5px;
  /*
   * required by IE9 for unbulleted lists
   */
  list-style-type: none;
}

#settings_overlay {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 27px;
  border: 2px solid #333333;
	background-color: rgb(51, 51, 51);
	background-color: rgba(151, 151, 151, 0.5);
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}

.setting_button {
  padding: 1px;
  position: relative;
  height: 25px;
  width: 25px;
  -webkit-background-size:25px 25px;
     -moz-background-size:25px 25px;
       -o-background-size:25px 25px;
          background-size:25px 25px;
  z-index: 10000;
}

.setting_button:hover {
  padding: 0px;
  border: 1px solid #00FFFF;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}

.volume_control_on {
  background: center center no-repeat url('../images/sound_on.svg');
  -webkit-background-size:25px 25px;
     -moz-background-size:25px 25px;
       -o-background-size:25px 25px;
          background-size:25px 25px;
}
.volume_control_off {
  background: center center no-repeat url('../images/sound_off.svg');
  -webkit-background-size:25px 25px;
     -moz-background-size:25px 25px;
       -o-background-size:25px 25px;
          background-size:25px 25px;
}

.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 2px 3px;
  /* border: solid #d3d3d3; */
  border: solid #EEE;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
  width: 20px;
  height: 19px;
  background: #EEE top left no-repeat url('../images/close.svg');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

.hr {
  border-bottom: 3px solid #FFF;
  width: 100%;
  margin: 3px 0px;
}

#settings {
  background: center center no-repeat url('../images/settings.gif');
  -webkit-background-size:25px 25px;
     -moz-background-size:25px 25px;
       -o-background-size:25px 25px;
          background-size:25px 25px;
}

.dialog_content_wrapper {
  position: relative;
  width: 100%;
}
.dialog_content {
  position: relative;
}
#forfeit_content {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  width: 100%;
}
.dialog .title {
  margin-left: 40px;
  font-size: 34px;
  font-family: Impact, Arial;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog {
  position: absolute;
  visibility: hidden;
  z-index: 20000;
  left: 690px;
  top: 56px; /* board height/2 - height/2 - padding-top/2*/
  /*
   * image: 573x476
   * content area: 297x343
   * area for side padding: 230px;
   * area for top/bottom padding: 253;
   */
  padding-top: 78px;
  padding-bottom: 73px;
  padding-left: 115px;
  padding-right: 145px;
  width: 313;
  min-width: 313;
  height: 325;
  -webkit-box-shadow:3px 3px 9px #000, -3px -3px 9px #000;
     -moz-box-shadow:3px 3px 9px #000, -3px -3px 9px #000;
          box-shadow:3px 3px 9px #000, -3px -3px 9px #000;
  background: top left no-repeat url('../images/settings_background.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.dialog:focus {
  outline: none;
}
.dialog *:focus {
  outline: none;
}

#pawn_upgrade_dialog {
  position: absolute;
  visibility: hidden;
  left: 762px !important;
  top: 128px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 463px !important;
  min-width: 463px !important;
  height: 394px !important;
  min-height: 394px !important;
  z-index: 10000 !important;
  background: top left no-repeat url('../images/pawn_upgrade_background.png');
  -webkit-background-size:463px;
     -moz-background-size:463px;
       -o-background-size:463px;
          background-size:463px;
}
#upgrade_list {
  position: absolute;
  top: 111px;
  left: 131px;
  width: 256px;
  height: 214px;
}
#upgrade_list div.piece_wrapper {
  float: left;
  width: 85px;
  height: 85px;
  margin-right: 42px;
  margin-bottom: 44px;
}
#upgrade_list img.piece {
  width: 85px !important;
  height: 85px !important;
  cursor: hand;
  cursor: pointer;
}
#upgrade_list div.piece_name {
  font-size: 14px !important;
  text-transform: uppercase;
  text-align: center;
}

ul li.separator {
  min-height:30px;
  cursor: auto !important;
}
.dialog p {
  margin-left: 10px;
}
.dialog ul {
  list-style-type: none;
}
.dialog li,.close_button {
  cursor: hand;
  cursor: pointer;
}
.dialog li,a {
  color: #FFF;
  font-size: 22px;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog .disabled {
  cursor: auto !important;
  color: #777777;
}
.dialog a {
  text-decoration: none;
}

#iw_defense_dialog_psyop {
  background: top left no-repeat url('../images/iw_defense_background_psyop.png');
}
#iw_defense_dialog_ew {
  background: top left no-repeat url('../images/iw_defense_background_ew.png');
}
.iw_defense_dialog {
  position: absolute;
  z-index: 20000;
  left: 702px;
  top: 148px;
  width: 575;
  height: 275;
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
.iw_defense_dialog .button {
  position: absolute;
  top: 114px;
  width: 166px;
  height: 80px;
}
.iw_defense_dialog .button:hover {
  outline: 2px solid red;
  cursor: hand;
  cursor: pointer;
}
.iw_defense_dialog #defend {
  left: 112px;
}
.iw_defense_dialog #defend #cost_wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 25px;
  text-align: center;
}
.iw_defense_dialog #ignore {
  left: 292px;
}
.iw_defense_dialog #remaining_points {
  position: absolute;
  top: 223px;
  left: 173px;
  width: 250px;
  height: 30px;
}

#message {
  width: 200px;
  left: 290px;
  padding: 4px 6px;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

body.white .board {
  background: top left no-repeat url('../images/board_base-white.png');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}
body.black .board {
  background: top left no-repeat url('../images/board_base-black.jpg');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

.board {
  position: relative;
  top: 64px;
  left: 54px;
  float: left;

  width: 588px;
  height: 588px;
  padding: 18px;
  z-index: 100;
}
.board_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
#pawn_capture {
  display: none;
  cursor: hand;
  cursor: pointer;
  -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;
  border: 2px solid rgb(159, 255, 201);
  color: rgb(159, 255, 201);

  position: absolute;
  top: 636px;
  left: 230px;

  width: 168px;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
}
#pawn_capture.disabled {
  cursor: auto !important;
  border: 2px solid rgb(159, 159, 159);
  color: rgb(159, 159, 159);
}

#board .selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
      -ms-animation: myanim 1s ease-in-out infinite;
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
  0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
  0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
  0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
  0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
  50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

.shadow_piece {
  opacity: 0.4;
}
.shadow_piece, .soldier_piece, .temp_piece, .normal_piece, .invisible_piece, .psyop_capture {
  position: absolute;
  width: 68px;
  height: 68px;
  margin: 3px;
}

.invisible_piece {
  /* done in JS so that we can reanimate the gif without reloading it
    background: top left no-repeat url('../images/invisible_piece.gif'); 
  */
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

.psyop_capture {
  /* done in JS so that we can reanimate the gif without reloading it
    background: top left no-repeat url('../images/psyop_capture.gif');
  */
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
}

.castling_shadow_piece {
  border: 5px solid red;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.pawn_capture_source {
  border: 5px solid blue;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.pawn_capture_target, .psyop_target {
  border: 5px solid green;
  z-index: 350;
  position: absolute;
  width: 63px;
  height: 63px;
}

.invisible {
  opacity: 0.6;
}

.removal_marker {
  background: top left no-repeat url('../images/removal_marker.svg');
  -webkit-background-size:100%;
     -moz-background-size:100%;
       -o-background-size:100%;
          background-size:100%;
  background-color: white;
  opacity: 0.6;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
  width: 20px;
  height: 20px;
  margin-left: 48px;
  overflow: visible;
  position: relative;
  float: left;
}
.removal_marker:hover {
  opacity: 1.0 !important;
}

.king_white {
  background: top left no-repeat url('../images/king_white.68x68.png');
}
.temp_piece.king_white, .invisible.king_white {
  background: top left no-repeat url('../images/king_white-invisible.68x68.png');
}
.queen_white {
  background: top left no-repeat url('../images/queen_white.68x68.png');
}
.rook_white {
  background: top left no-repeat url('../images/rook_white.68x68.png');
}
.knight_white {
  background: top left no-repeat url('../images/knight_white.68x68.png');
}
.temp_piece.knight_white, .invisible.knight_white {
  background: top left no-repeat url('../images/knight_white-invisible.68x68.png');
}
.bishop_white {
  background: top left no-repeat url('../images/bishop_white.68x68.png');
}
.pawn_white {
  background: top left no-repeat url('../images/pawn_white.68x68.png');
}
.temp_piece.pawn_white, .invisible.pawn_white {
  background: top left no-repeat url('../images/pawn_white-invisible.68x68.png');
}
.king_black {
  background: top left no-repeat url('../images/king_black.68x68.png');
}
.temp_piece.king_black, .invisible.king_black{
  background: top left no-repeat url('../images/king_black-invisible.68x68.png');
}
.queen_black {
  background: top left no-repeat url('../images/queen_black.68x68.png');
}
.rook_black {
  background: top left no-repeat url('../images/rook_black.68x68.png');
}
.knight_black {
  background: top left no-repeat url('../images/knight_black.68x68.png');
}
.temp_piece.knight_black, .invisible.knight_black {
  background: top left no-repeat url('../images/knight_black-invisible.68x68.png');
}
.bishop_black {
  background: top left no-repeat url('../images/bishop_black.68x68.png');
}
.pawn_black {
  background: top left no-repeat url('../images/pawn_black.68x68.png');
}
.temp_piece.pawn_black, .invisible.pawn_black {
  background: top left no-repeat url('../images/pawn_black-invisible.68x68.png');
}

.intersection {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: 38px;
  overflow: visible;
  position: relative;
  float: left;
  color: white;
}


.square_hover {
  background-color: rgb(255, 255, 0) !important;
  background-color: rgba(255, 255, 0, 0.4) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00)" !important;
}

.square_black {
  background: none;
}

.square_white {
  background: none;
}

.square_highlighted {
  border: 1px solid #0FF;
}

.flash, .attacker, .defender {
}

.flash {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-shadow: 1px 1px 2px #922, 0 0 2em white, 0 0 0.4em white;
  text-transform: uppercase;
  z-index: 50000;
  text-align: center;
  color: #E44;
  opacity: 0.0;
}
.flash-animation {
  -webkit-animation:flash-left 2s 1;
     -moz-animation:flash-left 2s 1;
      -ms-animation:flash-left 2s 1;
       -o-animation:flash-left 2s 1;
          animation:flash-left 2s 1;
}
.flash .main {
  font-weight: bold;
  font-size: 60px;
}
.flash .message {
  font-weight: bold;
  font-size: 45px;
}
@-webkit-keyframes flash-left {
  0% {
    opacity: 0;
    -webkit-transform: scale(0,0) rotate(5deg) translate(0);
    -webkit-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(1,1) rotate(-15deg) translate(-40%, -25%);
    -webkit-transform-origin: center center;
  }
}
@-moz-keyframes flash-left {
  0% {
    opacity: 0;
    -moz-transform: scale(0,0) rotate(5deg) translate(0);
    -moz-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -moz-transform: scale(1,1) rotate(-15deg) translate(-40%, -25%);
    -moz-transform-origin: center center;
  }
}
@-o-keyframes flash-left {
  0% {
    opacity: 0;
    -o-transform: scale(0,0) rotate(5deg) translate(0);
    -o-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -o-transform: scale(1,1) rotate(-15deg) translate(-40%, -25%);
    -o-transform-origin: center center;
  }
}
@keyframes flash-left {
  0% {
    opacity: 0;
    transform: scale(0,0) rotate(5deg) translate(0);
    transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    transform: scale(1,1) rotate(-15deg) translate(-40%, -25%);
    transform-origin: center center;
  }
}
@-webkit-keyframes flash-right {
  0% {
    opacity: 0;
    -webkit-transform: scale(0,0) rotate(-5deg) translate(0);
    -webkit-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(1,1) rotate(15deg) translate(40%, 25%);
    -webkit-transform-origin: center center;
  }
}
@-moz-keyframes flash-right {
  0% {
    opacity: 0;
    -moz-transform: scale(0,0) rotate(-5deg) translate(0);
    -moz-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -moz-transform: scale(1,1) rotate(15deg) translate(40%, 25%);
    -moz-transform-origin: center center;
  }
}
@-o-keyframes flash-right {
  0% {
    opacity: 0;
    -o-transform: scale(0,0) rotate(-5deg) translate(0);
    -o-transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    -o-transform: scale(1,1) rotate(15deg) translate(40%, 25%);
    -o-transform-origin: center center;
  }
}
@keyframes flash-right {
  0% {
    opacity: 0;
    transform: scale(0,0) rotate(-5deg) translate(0);
    transform-origin: center center;
  }

  100% {
    opacity: 0.7;
    transform: scale(1,1) rotate(15deg) translate(40%, 25%);
    transform-origin: center center;
  }
}
