#settings_overlay {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F979797,endColorstr=#7F979797)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F979797,endColorstr=#7F979797);   /* IE6 & 7 */
        zoom: 1;
}
#settings {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/settings_ie.gif', sizingMethod='scale');
}
.volume_control_on {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/sound_on_ie.gif', sizingMethod='scale');
}
.volume_control_off {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/sound_off_ie.gif', sizingMethod='scale');
}
.close_button {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/close_ie.gif', sizingMethod='scale');
}

body.white .board {
  background: top left no-repeat url('../images/board_base-white_ie.jpg');
}
body.black .board {
  background: top left no-repeat url('../images/board_base-black_ie.jpg');
}
.removal_marker {
  background: top left no-repeat url('../images/removal_marker_ie.gif');
}
#army_selector #ready.ready #indicator {
  background: top left no-repeat url('../images/checkmark_ie.gif');
}
#army_selector #ready.unready #indicator {
  background: top left no-repeat url('../images/x_ie.gif');
}

#notes textarea {
  background: rgb(34, 63, 47);
}
